.main {
  padding-left: 20px;
}

.hammingGrid {
  width: 600px;
  height: 520px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 200px;
}

.hammingGrid > button {
  font-size: 40pt;
  font-weight: bold;
  width: 120px;
  display: flex;
  margin: 10px;
}

button.selected-hamming-bit {
  background-color: #cbd8dd;
  color: #b71c1c;
}

button.selected-hamming-bit:hover {
  background-color: #a9b7bd;
}
