.main {
  padding-left: 20px;
}

.container {
  display: flex;
}

.hammingGrid {
  width: 600px;
  height: 520px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 150px;
}

.hammingGrid > button {
  font-size: 40pt;
  font-weight: bold;
  width: 120px;
  display: flex;
  margin: 10px;
}

.right {
  float: right;
}

button.selected-hamming-bit {
  background-color: #cbd8dd;
  color: #b71c1c;
}

button.selected-hamming-bit:hover {
  background-color: #a9b7bd;
}

button.selected-no-errors {
  background-color: #66bb6a;
  color: #fafafa;
  width: 240px;
  height: 50px;
  margin-top: 10px;
}

button.selected-no-errors:hover {
  color: #01579b;
  width: 240px;
  height: 50px;
  margin-top: 10px;

}

button.no-errors {
  background-color: #fafafa;
  width: 240px;
  height: 50px;
  margin-top: 10px;

}
